.corpo_texto{
    position:relative;
    width:30vw;
    height: auto;
    color:#e6e6e6;
    text-align: left;
    padding:10px; 
    margin: auto 0;
    margin-left:45vw;
    font-size:30px;
    border-radius: 10px;
    padding-top: 30px;
}
.titulo{
    color: #960009;
    font-size: 60px;
}
